.body {
  padding-top: 70px;
}

.header {
  background-color: #9b59b6;
  color: #fff;
  padding-bottom: 50px;
}

.header h1 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.header h3 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.header img {
  margin-top: 50px;
  text-align: center;
  height: 300px;
  width: auto;
}

.navbar-default {
  background-color: #9b59b6;
  color: #fff;
  border-color: #9b59b6;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.color-purple {
  color: #703b8c;
}

.color-white {
  color: #fff;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.row-title {
  font-weight: 300;
}

.row-title h1 {
  font-weight: 300;
  font-size: 52px;
  margin-bottom: 0px;
}

.row-title h3 {
  margin-top: 10px;
  color: #787878;
  font-weight: 300;
  font-size: 28px;
}

.row p {
  font-size: 16px;
}

.row a {
  color: #703b8c;
}

.content-panel-white {
  padding-top: 80px;
  padding-bottom: 40px;
}

.content-panel-white p {
  font-size: 16px;
}

footer {
  background-color: #9b59b6;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: #fff;
}

body {
  font-size: 12px !important;
}

p {
  font-size: 12px !important;
}

pre {
  background-color: #f7f7f9;
  color: #000;
  border: 1px solid #e1e1e8;
  padding: 9px 14px;
  border-radius: 5px;
  font-size: 12px;
}

pre code {
  padding: 0px;
  background-color: transparent !important;
  border-radius: 0px;
  color: #000;
}

code {
  padding: 2px 4px;
  background-color: #f9f2f4;
  color: #c7254e;
  border-radius: 4px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border: none;
  border-left: 5px solid #eee;
}
